body {
    columns: #666666;
}

h1 {
    color: #333333;
}

#loption {
    background-color: #563d7c !important;
}

#soption {
    background-color: #563d7c !important;
    border-width: 3px;
}

#soption:hover {
    opacity: 0.6;
    border-width: 3px;
}

#loption:hover {
    opacity: 0.6;
    border-width: 3px;
}

#btn {
    border-color: #563d7c !important;
}

#btn:outline {
    background-color: #563d7c !important;
}

#lform {
    display: none;
}

.alert {
    display: none;
}

#editmenu {
    display: none;
}

#questionform {
    display: none;
}

#equiz {
    display: none;
}

#cquiz input[type=email] {
    display: none;
}

#squiz input[type=email] {
    display: none;
}

#editmenu input[type=email] {
    display: none;
}

#adder {
    display: none;
}

#editform {
    display: none
}

#carouselExampleSlidesOnly img {
    height: 400px;
}

.bg-dark {
    background-color: #563d7c !important
}

.btn-outline-dark:chec {
    border-color: #563d7c !important
}

.btn-outline-dark {
    border-color: #563d7c !important
}